In [6]:
import mysql.connector
import pandas as pd

In [33]:
mydb = mysql.connector.connect(
    host="localhost",
    user="sungkyun",
    password="chung741",
    database="sungkyun"
)

mycursor = mydb.cursor()

sql = 'SELECT DISTINCT built_years, size, floor, street_adress_code, dong_code FROM apart_price_clone LIMIT 50'
#mycursor.execute(sql)
#myresult = mycursor.fetchall()

In [34]:
df = pd.read_sql(sql, mydb)

In [35]:
df

   built_years     size  floor street_adress_code   dong_code
0         2005   80.870      4       416648900019  1168010100
1         2005   80.870     14       416648900019  1168010100
2         2003   23.660      8       416662200006  1168010100
3         2005   59.400     22       416648900019  1168010100
4         2002   81.013      3       416661800013  1168010100
5         2004  122.460     12       312200800237  1168010100
6         1978  101.700     12       416649400018  1168010100
7         1979  133.220     12       312200800315  1168010100
8         2003   84.950     14       416624600022  1168010100
9         1997   59.660     16       300508600316  1168010100
10        2005   80.870     19       416648900019  1168010100
11        2005   83.270      9       416622000015  1168010100
12        1978   88.070     11       416649400018  1168010100
13        2002   35.930      5       416623600009  1168010100
14        1980   79.340      4       300508600406  1168010100
15        2004  122.460     14       312200800237  1168010100
16        2001  149.700      7       416661900012  1168010100
17        2004   50.720      7       416674200010  1168010100
18        2005   59.400     21       416648900019  1168010100
19        1997   59.660     18       300508600316  1168010100
20        2005   84.991      3       416648900020  1168010100
21        2005   59.400      3       416648900019  1168010100
22        2005   59.530      8       416648900019  1168010100
23        1998   59.970     12       312200600423  1168010100
24        2003   23.850     11       416661900007  1168010100
25        2003   87.760      3       416618500028  1168010100
26        1978  102.390      4       416649400018  1168010100
27        2003  105.160      1       416671800045  1168010100
28        2005   59.400     15       416648900019  1168010100
29        2001  149.700     20       416661900012  1168010100
30        2005   59.606     19       416648900020  1168010100
31        2004   43.990      5       416603500033  1168010100
32        1979  160.330      6       300508600406  1168010100
33        1980   81.000      4       300508600406  1168010100
34        1997   59.660     13       300508600316  1168010100
35        2002   81.013      5       416661800013  1168010100
36        2002   84.950      1       416622700016  1168010100
37        1998   59.820     20       312200600423  1168010100
38        2001   39.200     20       416661900011  1168010100
39        1996   39.890     11       416623200026  1168010100
40        2005   80.870     10       416648900019  1168010100
41        2002   30.030     14       300508600427  1168010100
42        2004   43.990     11       416603500033  1168010100
43        2005   59.400     17       416648900019  1168010100
44        2002   30.030     15       300508600427  1168010100
45        1997   84.960      8       300508600316  1168010100
46        2003   43.270      4       416660600032  1168010100
47        2004   59.960      1       312200800171  1168010100
48        2002   52.310     13       312200400312  1168010100
49        2004   34.410      3       416603500033  1168010100

KeyError: 0

In [42]:
address_to_prices = {}
index = 0
for street_code in df['street_adress_code'].array:
    sql = 'SELECT sold_date, price FROM apart_price_clone WHERE street_adress_code=' + street_code
    df1 = pd.read_sql(sql, mydb)
    dates = df1['sold_date'].array
    prices = df1['price'].array
    address_to_prices[street_code] = [dates, prices]

In [43]:
address_to_prices['416648900019'][0]

<PandasArray>
['2006-01-02', '2006-01-02', '2006-01-03', '2006-02-03', '2006-03-01',
 '2006-03-02', '2006-03-02', '2006-04-01', '2006-05-02', '2006-05-04',
 ...
 '2021-01-07', '2021-01-14', '2021-01-20', '2021-01-30', '2021-01-30',
 '2021-02-09', '2021-03-06', '2021-04-30', '2021-05-24', '2021-06-05']
Length: 947, dtype: object

In [44]:
address_to_prices['416648900019'][1]

<PandasArray>
[ 75000,  84500,  51000,  81000,  58000,  55500,  56800,  64000, 102000,
  60000,
 ...
 193800, 198000, 200000, 198000, 198000, 199500, 247000, 235000, 199700,
 200000]
Length: 947, dtype: int64

In [45]:
sql

'SELECT sold_date, price FROM apart_price_clone WHERE street_adress_code=416603500033'